# Auto detect text files, convert to LF when checkin to object database and when checkout to working directory
* text=auto eol=lf

# conanfile.py must use LF also on Windows (see https://github.com/conan-io/conan/issues/7230)
conanfile.py text eol=lf

# These are explicitly windows files and should use crlf
*.bat text eol=crlf
*.cmd text eol=crlf
*.def text eol=crlf

# Tracked files by GitLFS
**/test/unit/Data/** filter=lfs diff=lfs merge=lfs -text

*.bin filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.cpd filter=lfs diff=lfs merge=lfs -text
*.dbf filter=lfs diff=lfs merge=lfs -text
*.dev filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.dwg filter=lfs diff=lfs merge=lfs -text
*.eap filter=lfs diff=lfs merge=lfs -text
*.EAP filter=lfs diff=lfs merge=lfs -text
*.eapx filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.fil filter=lfs diff=lfs merge=lfs -text
*.ffg filter=lfs diff=lfs merge=lfs -text
*.fw filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.img filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.m00 filter=lfs diff=lfs merge=lfs -text
*.mpw filter=lfs diff=lfs merge=lfs -text
*.nov filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.sbn filter=lfs diff=lfs merge=lfs -text
*.sbx filter=lfs diff=lfs merge=lfs -text
*.sdb filter=lfs diff=lfs merge=lfs -text
*.sfr filter=lfs diff=lfs merge=lfs -text
*.shp filter=lfs diff=lfs merge=lfs -text
*.shx filter=lfs diff=lfs merge=lfs -text
*.tst filter=lfs diff=lfs merge=lfs -text
*.ui filter=lfs diff=lfs merge=lfs -text
*.vsd filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.X01 filter=lfs diff=lfs merge=lfs -text
*.X02 filter=lfs diff=lfs merge=lfs -text
*.X03 filter=lfs diff=lfs merge=lfs -text
*.X04 filter=lfs diff=lfs merge=lfs -text
*.X05 filter=lfs diff=lfs merge=lfs -text
*.X06 filter=lfs diff=lfs merge=lfs -text
*.X07 filter=lfs diff=lfs merge=lfs -text
*.X08 filter=lfs diff=lfs merge=lfs -text
*.X09 filter=lfs diff=lfs merge=lfs -text
*.X10 filter=lfs diff=lfs merge=lfs -text
*.X11 filter=lfs diff=lfs merge=lfs -text
*.X12 filter=lfs diff=lfs merge=lfs -text
*.X13 filter=lfs diff=lfs merge=lfs -text
*.X14 filter=lfs diff=lfs merge=lfs -text
*.X15 filter=lfs diff=lfs merge=lfs -text
*.X16 filter=lfs diff=lfs merge=lfs -text
*.X17 filter=lfs diff=lfs merge=lfs -text
*.X18 filter=lfs diff=lfs merge=lfs -text
*.X19 filter=lfs diff=lfs merge=lfs -text
*.X20 filter=lfs diff=lfs merge=lfs -text
*.X21 filter=lfs diff=lfs merge=lfs -text
*.X22 filter=lfs diff=lfs merge=lfs -text
*.x23 filter=lfs diff=lfs merge=lfs -text
*.X23 filter=lfs diff=lfs merge=lfs -text
*.X24 filter=lfs diff=lfs merge=lfs -text
*.X25 filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
*.XCF filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.aps filter=lfs diff=lfs merge=lfs -text
*.CSC filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.geo filter=lfs diff=lfs merge=lfs -text
*.gem filter=lfs diff=lfs merge=lfs -text
*.GEM filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.lss filter=lfs diff=lfs merge=lfs -text
*.m38 filter=lfs diff=lfs merge=lfs -text
*.mdzip filter=lfs diff=lfs merge=lfs -text
*.mpl filter=lfs diff=lfs merge=lfs -text
*.mxd filter=lfs diff=lfs merge=lfs -text
*.Obs filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.rtree filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.xtree filter=lfs diff=lfs merge=lfs -text
